<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371941251551-1n2s7lhhl8k4g7vfrpvuajnjf3aubktd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371941251551-1n2s7lhhl8k4g7vfrpvuajnjf3aubktd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>371941251551-06r5etao0vf8gr1p5pb48t889v8k8851.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTicncN5N4il4ooSLpaMeGJR7hsC7pUgE</string>
	<key>GCM_SENDER_ID</key>
	<string>371941251551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handInNeed</string>
	<key>PROJECT_ID</key>
	<string>hand-in-need</string>
	<key>STORAGE_BUCKET</key>
	<string>hand-in-need.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371941251551:ios:e8ecfc76a3fd9f45298c6a</string>
</dict>
</plist>